//@theme "/home/kaan/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/home/kaan/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/kaan/.local/share/rofi/themes/rounded-purple-dark.rasi"
@theme "/home/kaan/.local/share/rofi/themes/simple-tokyonight.rasi"
